.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF5733;
  padding: 10;
  position: relative;
  flex-grow: 1;
}

.logo {
  font-size: 24px;
  color: white;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.active {
  display: flex;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #FF5733;
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

@media (min-width: 769px) {
  .dropdown-menu {
    display: none;
  }
}
