.navbar {
  position: fixed;
  top: 0px;
  padding-right: 1px;
  padding-left: 10px;
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  background-color: #FF5733;
}

.logo {
  font-size: 24px;
  color: white;
}

.menu-icon {
  position: fixed;
  top: .75vh;
  right: 1vh;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  display: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 150px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.active {
  display: flex;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #FF5733;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

@media (min-width: 650px) {
  .dropdown-menu {
    display: none;
  }
}

.custom-button {
  position: relative;
  top: -1px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 10px;
  background-color: #FF5733;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 0px;
  transition: background-color 0.3s;
  width: auto;
}

.custom-button:hover {
  background-color: #e04a2f;
}


.nav-bar__tab--active {
  background-color: #e04a2f;
}
